/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "materialize/extras/nouislider";*/
body {
	  background-color: #FAFAFA;
}
.quick_nav {
	line-height: 20px;
}

/*Link styles*/
a:link { color: #F26C4F; }
a:visited { color: #26a69a; }
a:hover { color: #F26C4F; }
a:active { color: #9CC4E4 }

/*
.wrapper {
  background-color: #FAFAFA;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  overflow:auto;
  padding-bottom: 0px;
  min-height: 100%; 
  width: 100%;
}  */

nav {
    color: #fff;
    background-color: black;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .brand-logo {
    position: absolute;

    /*color: #fff;*/
    display: inline-block;
    font-size: 2.1rem;
    white-space: nowrap;
    padding-left: 30px;
    }


.navbar-fixed nav {
    position: fixed;
}

.container {
  background-color: #FAFAFA;
  margin: 0 auto;
  padding: 5%;
  padding-top: 0;
/*	border: 1pt #E9F2F9;*/
}

.group-list li {
  font-size: 1.5em;
  list-style: square;
  margin-left: 2em;
}

.listed_posts {
	background-color: #FFFFFF;
	border-radius: 25px;
	margin: 20px;
	padding: 20px;
		border: 1pt dotted #E9F2F9;
		/*box-shadow: 10px;*/
}

.post_links {
	  margin: 0 auto;
	  text-align: center;
	/*background-color: gray;*/
	border-radius: 5px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}